# Python
__pycache__/
*.pyc
ai-model/venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Gradle
.gradle/
build/
bin/

# OS
.DS_Store
Thumbs.db

# 환경변수
.env

# Secret
**/application.properties

.env
*.pkl
*.csv